.modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    z-index: 1051;
}

.discount-modal .modal-content {
    border-radius: 0;
    height: 45vh;
}
.discount-modal-body {
    display: flex;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.modal-close-button:hover {
    color: #555;
}

.p-0 {

}

.img-fluid {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
}

.p-4 {
    padding: 2rem !important;
}

.text-danger {
    color: #d9534f !important;
    font-size: 26px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; 
}

.flex-grow-1 {
    flex-grow: 1;
}

.form-control {
    margin-bottom: 0.2rem;
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.fixed-button:hover {
    background-color: #333;
}
